/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.calc-Button {
	border: 2px solid #000000;
	border-top-color: #cccccc;
	border-left-color: #cccccc;
	padding: 0.15em;
	background-color: #d3d3d3;
	color: #000000;	
	width: 30px;
	height: 30px;
	font-weight: normal;
}
.calc-Grid {	
	width: 160px;
}
.calc-Panel {
	padding: 0.15em;	
	background-color: #a6c6a3;
	border: 1px solid #000000;
}
.calc-Cell {
}
.gwt-TextBox {
	background-color: #ffffff;
	width: 168px;
}

